@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\000031}}
body, p, ul {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\000036}}
body {
  color: #EEE;
  color: #444;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\0000311}}
a {
  text-decoration: none;
  color: #444;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\0000316}}
ul {
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\0000321}}
ul.horizontal-list li {
  float: left;
  width: 30%;
  margin-right: 3%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\0000329}}
.clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\0000334}}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\0000339}}
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\0000348}}
.clearfix {
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\0000352}}
.float-left {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\0000356}}
.float-right {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\0000360}}
.content-container {
  width: 65%;
  margin-right: 3%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ggauravr\/Documents\/projects\/gapp\/news\/app\/styles\/sass\/main\.scss}line{font-family:\0000365}}
.map-container {
  width: 30%;
}
